ONTOLOGY_DIR=/tmp/graphit/ontologies
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_GEMINI_API_KEY=
VERTEXAI_PROJECT_ID=
VERTEXAI_LOCATION=
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
NEO4J_DB=
STAGING_NEO4J_URI=
STAGING_NEO4J_USER=
STAGING_NEO4J_PASSWORD=
STAGING_NEO4J_DB=
MOCK_MODE=False
